---
layout: default
title: Загрузить
---
section Спасибо за загрузку!
  br/
  br/
  a(href="https://github.com/Ubuntu-Sway/Ubuntu-Sway-Remix/releases/download/22.04_beta-202206102313/ubuntusway-22.04-dev-202206102313-desktop.iso" class="btn" id="iso") x64/86
  a(href="#" class="btn") arm
  br/
  a(href="#" class="torrent") x64/86.torrent
  a(href="#" class="torrent") arm.torrent
